<section>


<div class="container" style="margin-bottom:60px;" >
  <div class="row">
    <div class="col-md-12" id="faq-list" >

        <h3>FAQ_자주묻는질문</h3>
        <div style="margin-left:15px;">

          <p ng-click="showAnswer(0)" class="faq-question-text">
              <i ng-if="!show[0]"class="fa fa-square" style="margin-right:10px;" aria-hidden="true"></i>
              <i ng-if="show[0]"class="fa fa-square-o " style="margin-right:10px;"></i>
                뜨거운 밥을 담았더니 밥알 모양대로 변색이 됐어요!!
          </p>

          <div ng-show="show[0]" class="faq-answer-text">
            <i class="fa fa-lightbulb-o" style=" padding-top:2px;float:left;" aria-hidden="true"></i>
            <p style="margin-left:15px;">
              원재료로 사용된 구리+주석이 습기와 반응하여 발생하는 자연스런 현상으로 안심하고 사용하셔도 됩니다.
            </p>
          </div>
          <hr style="margin: 0 0;border: 1px dashed black;">

          <p ng-click="showAnswer(1)" class="faq-question-text">
              <i ng-if="!show[1]"class="fa fa-square" style="margin-right:10px;" aria-hidden="true"></i>
              <i ng-if="show[1]"class="fa fa-square-o " style="margin-right:10px;"></i>
              관리가 까다롭다고 하는데 어떻게 세척하고 관리해야되나요?
          </p>
          <div ng-show="show[1]" class="faq-answer-text">
            <i class="fa fa-lightbulb-o" style=" padding-top:2px;float:left;" aria-hidden="true"></i>
            <p style="margin-left:15px;">

                일반 그릇처럼 세척해주시면되고, 가급적 간이 강한 음식을 장기간 담아두지마세요. 변색의 우려가 있습니다.<br>
                지속적으로 사용하는것이 유기가 빨리 길드는 좋은 방법이며, 한달에 한번정도 식초다 구연산을 희석한 물에 3~40분정도
                담가두었다 세척하면 힘들지 않게 얼룩을 제거 할 수 있습니다. <br>
                심한 얼룩은 그릇이 완전히 건조된 상태에서 초록수세미로 결을 따라 밀어주시면 깨끗하게 지워집니다.
            </p>
          </div>

          <hr style="margin: 0 0;border: 1px dashed black;">

          <p ng-click="showAnswer(2)" class="faq-question-text">
              <i ng-if="!show[2]"class="fa fa-square" style="margin-right:10px;" aria-hidden="true"></i>
              <i ng-if="show[2]"class="fa fa-square-o " style="margin-right:10px;"></i>
              가스레인지에 가열해도 괜찮나요?
          </p>
          <div ng-show="show[2]" class="faq-answer-text">
            <i class="fa fa-lightbulb-o" style=" padding-top:2px;float:left;" aria-hidden="true"></i>
            <p style="margin-left:15px;">
              가스레인지와 전자레인지의 사용은 불가능합니다.
          </p>
        </div>
          <hr style="margin: 0 0;border: 1px dashed black;">

          <p ng-click="showAnswer(3)" class="faq-question-text">
              <i ng-if="!show[3]"class="fa fa-square" style="margin-right:10px;" aria-hidden="true"></i>
              <i ng-if="show[3]"class="fa fa-square-o " style="margin-right:10px;"></i>
              장기간 사용하지 않을시에는 어떻게 보관해야 하나요?
          </p>
          <div ng-show="show[3]" class="faq-answer-text">
            <i class="fa fa-lightbulb-o" style=" padding-top:2px;float:left;" aria-hidden="true"></i>
            <p style="margin-left:15px;">
              깨끗히 세척한 그릇을 완전히 건조한 후 신문지 등 종이에 싼후 비닐에 넣어 밀봉해주세요. <br>
              습기가 없는 곳에 보관해 주셔야 변색이 되지 않습니다.
          </p>
        </div>
          <hr style="margin: 0 0;border: 1px dashed black;">

          <p ng-click="showAnswer(4)" class="faq-question-text">
              <i ng-if="!show[4]"class="fa fa-square" style="margin-right:10px;" aria-hidden="true"></i>
              <i ng-if="show[4]"class="fa fa-square-o " style="margin-right:10px;"></i>
              그릇마다 두께가 조금씩 다른데 정상 제품인가요?
          </p>
          <div ng-show="show[4]" class="faq-answer-text">
            <i class="fa fa-lightbulb-o" style=" padding-top:2px;float:left;" aria-hidden="true"></i>
            <p style="margin-left:15px;">
              수작업 공정으로 두께와 모양 등이 일정하지 않을 수 있으며, 이는 제품의 하자가 아닙니다.
          </p>
        </div>
          <hr style="margin: 0 0;border: 1px dashed black;">


          <p ng-click="showAnswer(5)" class="faq-question-text">
              <i ng-if="!show[5]"class="fa fa-square" style="margin-right:10px;" aria-hidden="true"></i>
              <i ng-if="show[5]"class="fa fa-square-o " style="margin-right:10px;"></i>
                그릇을 세척후에도 티슈나 타올로 닦으면 노랗게 (혹은 검게) 뭍어나는게 있는데 괜찮나요?
          </p>
          <div ng-show="show[5]" class="faq-answer-text">
            <i class="fa fa-lightbulb-o" style=" padding-top:2px;float:left;" aria-hidden="true"></i>
            <p style="margin-left:15px;">
              유기에서 쉽게 나타나는 현상으로 인체에 무해하므로 안심하고 사용하셔도됩니다.
          </p>
        </div>
          <hr style="margin: 0 0;border: 1px dashed black;">

        </div>
    </div>
  </div>
</div>
</section>
