<section>
  <hr>
  <div class="hide-small">
    <p class="footer-line" id="center"> <span >법인명_(주)리빙월드</span>  <span >대표자_문지연</span>
      <span >사업자등록번호_126.86.00548</span><span >통신판매업 신고: xxxxxxxx</span> </p>
    <p class="footer-line"id="center"> <span >주소_경기도 안성시 죽산면 용대길 26-7</span>  <span >전화_031.673.6818</span>
      <span >팩스_031.674.6818</span><span >이메일_livingworld-ansung@naver.com</span> </p>
    <p style="margin-top:30px; margin-bottom:30px;" id="center">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 안성맞춤유기. All rights reserved</p>
  </div>
  <div class="show-small">
    <div class="row">
      <div class="col-xs-6">
        <ul>
          <li>법인명_(주)리빙월드</li>
          <li>대표자_문지연</li>
          <li>사업자등록번호_126.86.00548</li>
          <li>통신판매업 신고: xxxxxxxx</li>
        </ul>
      </div>
      <div class="col-xs-6">
        <ul>
          <li>주소_경기도 안성시 죽산면 용대길 26-7</li>
          <li>전화_031.673.6818</li>
          <li>팩스_031.674.6818</li>
          <li>이메일_livingworld-ansung@naver.com</li>
        </ul>

      </div>

    </div>
    <div class="row">
      <div class="col-xs-12">
        <p style="margin-top:30px; margin-bottom:30px;" id="center">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 안성맞춤유기. All rights reserved</p>
      </div>

    </div>
  </div>

</section>
