
<!-- <ul ng-repeat="movie in movies">
  <li>

  </li>
</ul> -->
<section>
<div class="container " >
  <div class="row slide-main" >

    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right:0;">

        <img class="img-responsive center-block"  src="img/carousel1.jpg" alt="">
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3 "  >

        <img class="img-responsive center-block" src="img/vertical1.jpg"  alt="">
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3" style="padding-left:0;">
      <div class="row">
        <div class=" col-md-12 col-sm-12 col-xs-12">
            <img class="img-responsive center-block" style="margin-bottom:2%; height:49%;"src="img/carousel2.jpg" alt="">
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img class="img-responsive center-block" style=" height:49%;"src="img/carousel3.jpg" alt="">
        </div>
      </div>


    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="home-info">
          <p><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> 안성맞춤유기</p>

          <p>안성맞춤이란, 생각한대로 아주튼튼하게 잘 만들어진 물건이나 어떤 게제에 딱 들어맞게 잘된일 을 뜻할때 사용하였는데 이는
          안성의 '유기' 로부터 시작되었다고 합니다. 예로부터 안성 놋그릇은 튼튼하고 질이 좋기로 유명하여 기성품으로 만들어 장에 내다파는 [장내기]와 주문에 의해 만들어지는
          [맞춤]으로 판매되었는데, 서울의 양반이나 행세 깨나 하는 이들은 안성의 유기를 맞춤으로 사용하였다고 합니다.
          이처럼 안성맞춤유기는 유기의 본 고장이라고 할 수 있는 안성에서 그 명분을 이어받아 전통주물공법으로 생산되고 있으며,
          [안성시 향토유적 무형문화재 이종문 유기장님]의 엄격한 관리감독하에 생산, 검수, 출고 되고 있으니 그 품질은 안성맞춤유기가 보장합니다.</p>
      </div>

      <!-- <div class="col-md-12"> -->
        <div class="video-wrapper right col-xs-12" >
          <iframe   width="100%" height="100%"  src="https://www.youtube.com/embed/nboL-3lt_Ck?autoplay=0&loop=1;controls=0&playlist=nboL-3lt_Ck" frameborder="0" allowfullscreen></iframe>

      </div>
      <div class="video-wrapper center col-xs-12" >
          <iframe  width="100%"height="100%"  src="https://www.youtube.com/embed/N3hTeOOIGNU?autoplay=0&loop=1;controls=0&playlist=N3hTeOOIGNU" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-wrapper left col-xs-12 " >
          <iframe  width="100%"height="100%" src="https://www.youtube.com/embed/g9jbJhGrEss?autoplay=0&loop=1;controls=0&playlist=nboL-3lt_Ck" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
      <div class="row" >
        <div class="col-md-12"style="margin-top:40px; text-align:left;">
          <p id="center"style="margin-bottom:0px;">오랜기간 숙련된 장인의 손길로 탄생한 작품</p>
          <img class="center-block" style="height:50px; width: 250px"src="img/logo-cut.jpeg">
        </div>

      </div>
    </div>

  </div>

</div>



</section>



<!--
<div ng-non-bindable>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
    <div class="item active">

        <img src="img/carousel1.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="img/carousel2.jpg" alt="Chicago">
    </div>

    <div class="item">
      <img src="img/carousel3.jpg" alt="New York">
    </div>
  </div> -->
<!--

    <span class="left carousel-control" data-target="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </span>

    <span class="right carousel-control" data-target="#myCarousel" data-slide="next">
     <span class="glyphicon glyphicon-chevron-right"></span>
    </span> -->
  <!-- </a> -->
<!-- </div>
</div> -->
