
<!-- <div class="container" >

<div class="row">

  <div class=" col-lg-12 col-xs-12 col-center">

      <h1>LANDING PAGE</h1> -->
      <div class="flex_container ">
      <div class="box">
        <div class="row">

            <!-- <img style="margin-left:110px;height:100px; width: 300px"src="img/logo.jpg"> -->
            <br>
            <div >
                <!-- <img ng-if="show" class="fade-in" style="border-radius:5px;height:350px;width:500px;"src="img/item1.jpg">
                <img ng-if="show2" class="fade-in" style="border-radius:5px;height:350px;width:500px;"src="img/item2.jpg"> -->
                <img  style="border-radius:5px;height:500px;width:500px;"src="img/landing.gif">
            </div>

            <!-- <p class="brush-font">선조들의 지혜가 담긴 경이로운 생명의 그릇<br>
            임금님 수라상에 올랐던 그 고귀한 가치<br>
              그 천년의 신비를 담아내다</p> -->
              <p class="brush-font" style="margin-top:0;"><a style= "color:#848484"ui-sref="home">Enter Site</a></p>
        </div>

      </div>

      </div>

      <!-- <div class="container">
        <div class="box rotate">

        </div> -->

      </div>
